footer {
  background: #111;
  color: #aaa;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  border-top: 1px solid #333;
}

footer p {
  margin: 0;
}
